<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nome</key>
	<string>Goiânia</string>
	<key>latitude</key>
	<string>-16.68</string>
	<key>longitude</key>
	<string>-49.26</string>
	<key>temperatura</key>
	<string>27</string>
	<key>data_atualizacao</key>
	<date>2014-04-07T21:29:35Z</date>
</dict>
</plist>
